<a href="https://colab.research.google.com/github/Sumit-Nayek/Introduction-to-ML/blob/main/Data_reading_and_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Before going into the data processing part we have to go through this section where we read data from different sources and extract them al together an make one workable file.

### Reading CSV file

In [ ]:
import pandas as pd
## Data files
data=pd.read_csv('C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/1995.csv')
### This line of code will give information about data
data.info()
### To check the dimension of the dataset, we can use the shape
data.shape
### To check some value of the data set we use the follwing code
data.head(10) ## number 10 represnt number row's to be print

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Years    20 non-null     int64
 1   Product  20 non-null     object
 2   Price    20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 608.0+ bytes

   Years    Product  Price
0   1995  Fast Food    200
1   1995      Sweet    150
2   1995  Fast Food    100
3   1995  Fast Food    250
4   1995  Fast Food    260
5   1995      Sweet    230
6   1995      Sweet    210
7   1995  Fast Food    120
8   1995      Sweet    150
9   1995  Fast Food    160

#### Various Challanges in reading the csv data

In [ ]:
## Reading csv files with '\t' delimiter
import numpy as np

data = pd.read_csv(r'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/big_mart_sales_delimiter.csv'
                   , delimiter='/t')
print(data)
### This line of code will give information about data
# data.info()

    Item_Identifier\tItem_Weight\tItem_Fat_Content\tItem_Visibility\tItem_Type\tItem_MRP\tOutlet_Identifier\tOutlet_Establishment_Year\tOutlet_Size\tOutlet_Location_Type\tOutlet_Type\tItem_Outlet_Sales
0    FDA15\t9.3\tLow Fat\t0.016047301\tDairy\t249.8...
1    DRC01\t5.92\tRegular\t0.019278216\tSoft Drinks...
2    FDN15\t17.5\tLow Fat\t0.016760075\tMeat\t141.6...
3    FDX07\t19.2\tRegular\t0.0\tFruits and Vegetabl...
4    NCD19\t8.93\tLow Fat\t0.0\tHousehold\t53.8614\...
..                                                 ...
96   FDF41\t12.15\tLow Fat\t0.131383762\tFrozen Foo...
97   FDB56\t8.75\tRegular\t0.07461309\tFruits and V...
98   NCP18\t\tLow Fat\t0.028459761\tHousehold\t149....
99   FDB56\t8.75\tRegular\t0.07462720099999999\tFru...
100  FDT28\t13.3\tLow Fat\t0.063695084\tFrozen Food...

[101 rows x 1 columns]

C:\Users\Sumit007\AppData\Local\Temp\ipykernel_14240\3844517052.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(r'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/big_mart_sales_delimiter.csv', delimiter='/t')

In [ ]:
### Skiping some row of the csv file
data=pd.read_csv('C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/read_data_with_skipping_row.csv'
                 ,skiprows=4)
###
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Years    20 non-null     int64
 1   Product  20 non-null     object
 2   Price    20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 608.0+ bytes

In [ ]:
## How to process multiple data into one file
import pandas as pd
import glob


# Get a list of CSV file names in a directory
file_list = glob.glob(
    'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/Years/*.csv')
## iterate through each of the files
for file in file_list:
    print(file)

# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through the list of CSV files and concatenate them
for file in file_list:
    df = pd.read_csv(file)
    all_data = pd.concat([all_data, df], ignore_index=True)

# Display the combined DataFrame
print(all_data)
type(all_data)
all_data.head(20)

C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/Years\1995.csv
C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/Years\1996.csv
C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/Years\1997.csv
C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/Years\1998.csv
    Years    Product  Price
0    1995  Fast Food    200
1    1995      Sweet    150
2    1995  Fast Food    100
3    1995  Fast Food    250
4    1995  Fast Food    260
..    ...        ...    ...
75   1998      Sweet    210
76   1998      Sweet    250
77   1998  Fast Food    120
78   1998      Sweet    159
79   1998  Fast Food    160

[80 rows x 3 columns]

    Years    Product  Price
0    1995  Fast Food    200
1    1995      Sweet    150
2    1995  Fast Food    100
3    1995  Fast Food    250
4    1995  Fast Food    260
5    1995      Sweet    230
6    1995      Sweet    210
7    1995  Fast Food    120
8    1995      Sweet    150
9    1995  Fast Food    160
10   1995  Fast Food    140
11   1995      Sweet    180
12   1995  Fast Food    190
13   1995      Sweet    130
14   1995  Fast Food    123
15   1995      Sweet    210
16   1995      Sweet    250
17   1995  Fast Food    120
18   1995      Sweet    159
19   1995  Fast Food    160

In [ ]:
all_data.shape

(80, 3)

In [ ]:
#### How to save csv from python
all_data.to_csv(
    'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/merged_data.csv'
    ,index=False)

In [ ]:
## When you have different delimeter in the csv file formate
data = pd.read_csv('C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/big_mart_sales_delimiter.csv'
                   , delimiter='\t')
print(data)

    Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0             FDA15         9.30          Low Fat         0.016047
1             DRC01         5.92          Regular         0.019278
2             FDN15        17.50          Low Fat         0.016760
3             FDX07        19.20          Regular         0.000000
4             NCD19         8.93          Low Fat         0.000000
..              ...          ...              ...              ...
96            FDF41        12.15          Low Fat         0.131384
97            FDB56         8.75          Regular         0.074613
98            NCP18          NaN          Low Fat         0.028460
99            FDB56         8.75          Regular         0.074627
100           FDT28        13.30          Low Fat         0.063695

                 Item_Type  Item_MRP Outlet_Identifier  \
0                    Dairy  249.8092            OUT049
1              Soft Drinks   48.2692            OUT018
2                     Meat  141.6180            OUT049
3    Fruits and Vegetables  182.0950            OUT010
4                Household   53.8614            OUT013
..                     ...       ...               ...
96            Frozen Foods  246.0460            OUT049
97   Fruits and Vegetables  187.4556            OUT035
98               Household  149.9708            OUT027
99   Fruits and Vegetables  187.8556            OUT046
100           Frozen Foods  151.0708            OUT045

     Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                         1999      Medium               Tier 1
1                         2009      Medium               Tier 3
2                         1999      Medium               Tier 1
3                         1998         NaN               Tier 3
4                         1987        High               Tier 3
..                         ...         ...                  ...
96                        1999      Medium               Tier 1
97                        2004       Small               Tier 2
98                        1985      Medium               Tier 3
99                        1997       Small               Tier 1
100                       2002         NaN               Tier 2

           Outlet_Type  Item_Outlet_Sales
0    Supermarket Type1          3735.1380
1    Supermarket Type2           443.4228
2    Supermarket Type1          2097.2700
3        Grocery Store           732.3800
4    Supermarket Type1           994.7052
..                 ...                ...
96   Supermarket Type1          1231.7300
97   Supermarket Type1          3755.1120
98   Supermarket Type3          4363.6532
99   Supermarket Type1          1314.2892
100  Supermarket Type1          1805.6496

[101 rows x 12 columns]

In [ ]:
### Read only first 50 rows
data = pd.read_csv(
    'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/big_mart_sales_delimiter.csv'
    , delimiter='\t',nrows=50)
print(data)
## This type of thing are really help full to look into data when the dataset were very large

   Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0            FDA15        9.300          Low Fat         0.016047
1            DRC01        5.920          Regular         0.019278
2            FDN15       17.500          Low Fat         0.016760
3            FDX07       19.200          Regular         0.000000
4            NCD19        8.930          Low Fat         0.000000
5            FDP36       10.395          Regular         0.000000
6            FDO10       13.650          Regular         0.012741
7            FDP10          NaN          Low Fat         0.127470
8            FDH17       16.200          Regular         0.016687
9            FDU28       19.200          Regular         0.094450
10           FDY07       11.800          Low Fat         0.000000
11           FDA03       18.500          Regular         0.045464
12           FDX32       15.100          Regular         0.100014
13           FDS46       17.600          Regular         0.047257
14           FDF32       16.350          Low Fat         0.068024
15           FDP49        9.000          Regular         0.069089
16           NCB42       11.800          Low Fat         0.008596
17           FDP49        9.000          Regular         0.069196
18           DRI11          NaN          Low Fat         0.034238
19           FDU02       13.350          Low Fat         0.102492
20           FDN22       18.850          Regular         0.138190
21           FDW12          NaN          Regular         0.035400
22           NCB30       14.600          Low Fat         0.025698
23           FDC37          NaN          Low Fat         0.057557
24           FDR28       13.850          Regular         0.025896
25           NCD06       13.000          Low Fat         0.099887
26           FDV10        7.645          Regular         0.066693
27           DRJ59       11.650          low fat         0.019356
28           FDE51        5.925          Regular         0.161467
29           FDC14          NaN          Regular         0.072222
30           FDV38       19.250          Low Fat         0.170349
31           NCS17       18.600          Low Fat         0.080829
32           FDP33       18.700          Low Fat         0.000000
33           FDO23       17.850          Low Fat         0.000000
34           DRH01       17.500          Low Fat         0.097904
35           NCX29       10.000          Low Fat         0.089291
36           FDV20          NaN          Regular         0.059512
37           DRZ11        8.850          Regular         0.113124
38           FDX10          NaN          Regular         0.123111
39           FDB34          NaN          Low Fat         0.026481
40           FDU02       13.350          Low Fat         0.102512
41           FDK43        9.800          Low Fat         0.026818
42           FDA46       13.600          Low Fat         0.117818
43           FDC02       21.350          Low Fat         0.069103
44           FDL50       12.150          Regular         0.042278
45           FDM39        6.420               LF         0.089499
46           NCP05       19.600          Low Fat         0.000000
47           FDV49       10.000          Low Fat         0.025880
48           FDL12       15.850          Regular         0.121633
49           FDS02          NaN          Regular         0.255395

                Item_Type  Item_MRP Outlet_Identifier  \
0                   Dairy  249.8092            OUT049
1             Soft Drinks   48.2692            OUT018
2                    Meat  141.6180            OUT049
3   Fruits and Vegetables  182.0950            OUT010
4               Household   53.8614            OUT013
5            Baking Goods   51.4008            OUT018
6             Snack Foods   57.6588            OUT013
7             Snack Foods  107.7622            OUT027
8            Frozen Foods   96.9726            OUT045
9            Frozen Foods  187.8214            OUT017
10  Fruits and Vegetables   45.5402            OUT049
11                  Dairy  144.1102            OUT046
12  Fruits and Vegetables  145.4786            OUT049
13            Snack Foods  119.6782            OUT046
14  Fruits and Vegetables  196.4426            OUT013
15              Breakfast   56.3614            OUT046
16     Health and Hygiene  115.3492            OUT018
17              Breakfast   54.3614            OUT049
18            Hard Drinks  113.2834            OUT027
19                  Dairy  230.5352            OUT035
20            Snack Foods  250.8724            OUT013
21           Baking Goods  144.5444            OUT027
22              Household  196.5084            OUT035
23           Baking Goods  107.6938            OUT019
24           Frozen Foods  165.0210            OUT046
25              Household   45.9060            OUT017
26            Snack Foods   42.3112            OUT035
27            Hard Drinks   39.1164            OUT013
28                  Dairy   45.5086            OUT010
29                 Canned   43.6454            OUT019
30                  Dairy   55.7956            OUT010
31     Health and Hygiene   96.4436            OUT018
32            Snack Foods  256.6672            OUT018
33                 Breads   93.1436            OUT045
34            Soft Drinks  174.8738            OUT046
35     Health and Hygiene  146.7102            OUT049
36  Fruits and Vegetables  128.0678            OUT027
37            Soft Drinks  122.5388            OUT018
38            Snack Foods   36.9874            OUT027
39            Snack Foods   87.6198            OUT027
40                  Dairy  230.6352            OUT046
41                   Meat  126.0020            OUT013
42            Snack Foods  192.9136            OUT049
43                 Canned  259.9278            OUT018
44                 Canned  126.5046            OUT013
45                  Dairy  178.1002            OUT010
46     Health and Hygiene  153.3024            OUT045
47                 Canned  265.2226            OUT045
48           Baking Goods   60.6220            OUT046
49                  Dairy  196.8794            OUT019

    Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                        1999      Medium               Tier 1
1                        2009      Medium               Tier 3
2                        1999      Medium               Tier 1
3                        1998         NaN               Tier 3
4                        1987        High               Tier 3
5                        2009      Medium               Tier 3
6                        1987        High               Tier 3
7                        1985      Medium               Tier 3
8                        2002         NaN               Tier 2
9                        2007         NaN               Tier 2
10                       1999      Medium               Tier 1
11                       1997       Small               Tier 1
12                       1999      Medium               Tier 1
13                       1997       Small               Tier 1
14                       1987        High               Tier 3
15                       1997       Small               Tier 1
16                       2009      Medium               Tier 3
17                       1999      Medium               Tier 1
18                       1985      Medium               Tier 3
19                       2004       Small               Tier 2
20                       1987        High               Tier 3
21                       1985      Medium               Tier 3
22                       2004       Small               Tier 2
23                       1985       Small               Tier 1
24                       1997       Small               Tier 1
25                       2007         NaN               Tier 2
26                       2004       Small               Tier 2
27                       1987        High               Tier 3
28                       1998         NaN               Tier 3
29                       1985       Small               Tier 1
30                       1998         NaN               Tier 3
31                       2009      Medium               Tier 3
32                       2009      Medium               Tier 3
33                       2002         NaN               Tier 2
34                       1997       Small               Tier 1
35                       1999      Medium               Tier 1
36                       1985      Medium               Tier 3
37                       2009      Medium               Tier 3
38                       1985      Medium               Tier 3
39                       1985      Medium               Tier 3
40                       1997       Small               Tier 1
41                       1987        High               Tier 3
42                       1999      Medium               Tier 1
43                       2009      Medium               Tier 3
44                       1987        High               Tier 3
45                       1998         NaN               Tier 3
46                       2002         NaN               Tier 2
47                       2002         NaN               Tier 2
48                       1997       Small               Tier 1
49                       1985       Small               Tier 1

          Outlet_Type  Item_Outlet_Sales
0   Supermarket Type1          3735.1380
1   Supermarket Type2           443.4228
2   Supermarket Type1          2097.2700
3       Grocery Store           732.3800
4   Supermarket Type1           994.7052
5   Supermarket Type2           556.6088
6   Supermarket Type1           343.5528
7   Supermarket Type3          4022.7636
8   Supermarket Type1          1076.5986
9   Supermarket Type1          4710.5350
10  Supermarket Type1          1516.0266
11  Supermarket Type1          2187.1530
12  Supermarket Type1          1589.2646
13  Supermarket Type1          2145.2076
14  Supermarket Type1          1977.4260
15  Supermarket Type1          1547.3192
16  Supermarket Type2          1621.8888
17  Supermarket Type1           718.3982
18  Supermarket Type3          2303.6680
19  Supermarket Type1          2748.4224
20  Supermarket Type1          3775.0860
21  Supermarket Type3          4064.0432
22  Supermarket Type1          1587.2672
23      Grocery Store           214.3876
24  Supermarket Type1          4078.0250
25  Supermarket Type1           838.9080
26  Supermarket Type1          1065.2800
27  Supermarket Type1           308.9312
28      Grocery Store           178.4344
29      Grocery Store           125.8362
30      Grocery Store           163.7868
31  Supermarket Type2          2741.7644
32  Supermarket Type2          3068.0064
33  Supermarket Type1          2174.5028
34  Supermarket Type1          2085.2856
35  Supermarket Type1          3791.0652
36  Supermarket Type3          2797.6916
37  Supermarket Type2          1609.9044
38  Supermarket Type3           388.1614
39  Supermarket Type3          2180.4950
40  Supermarket Type1          3435.5280
41  Supermarket Type1          2150.5340
42  Supermarket Type1          2527.3768
43  Supermarket Type2          6768.5228
44  Supermarket Type1           373.5138
45      Grocery Store           358.2004
46  Supermarket Type1          2428.8384
47  Supermarket Type1          5815.0972
48  Supermarket Type1          2576.6460
49      Grocery Store           780.3176

In [ ]:
## To get the column of the dataset
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [ ]:
# ### Reading data after skiping first 100 rows of the dataset with selected columns
# filtered_data=pd.read_csv('C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/big_mart_sales_delimiter.csv', delimiter='\t',usecols=['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
#        'Item_Type', 'Item_MRP', 'Outlet_Identifier'],skiprows=101,nrows=50)
# filtered_data

In [ ]:
### Read only specific column only taking first 50 row
filtered_data=pd.read_csv('C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Data for pre-processing/big_mart_sales_delimiter.csv', delimiter='\t',usecols=['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier'],nrows=50)
filtered_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010
31,NCS17,18.600,Low Fat,0.080829,Health and Hygiene,96.4436,OUT018
32,FDP33,18.700,Low Fat,0.000000,Snack Foods,256.6672,OUT018
33,FDO23,17.850,Low Fat,0.000000,Breads,93.1436,OUT045
34,DRH01,17.500,Low Fat,0.097904,Soft Drinks,174.8738,OUT046
35,NCX29,10.000,Low Fat,0.089291,Health and Hygiene,146.7102,OUT049
36,FDV20,NaN,Regular,0.059512,Fruits and Vegetables,128.0678,OUT027
37,DRZ11,8.850,Regular,0.113124,Soft Drinks,122.5388,OUT018
38,FDX10,NaN,Regular,0.123111,Snack Foods,36.9874,OUT027
39,FDB34,NaN,Low Fat,0.026481,Snack Foods,87.6198,OUT027
40,FDU02,13.350,Low Fat,0.102512,Dairy,230.6352,OUT046
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013
42,FDA46,13.600,Low Fat,0.117818,Snack Foods,192.9136,OUT049
43,FDC02,21.350,Low Fat,0.069103,Canned,259.9278,OUT018
44,FDL50,12.150,Regular,0.042278,Canned,126.5046,OUT013
45,FDM39,6.420,LF,0.089499,Dairy,178.1002,OUT010
46,NCP05,19.600,Low Fat,0.000000,Health and Hygiene,153.3024,OUT045
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045
48,FDL12,15.850,Regular,0.121633,Baking Goods,60.6220,OUT046
49,FDS02,NaN,Regular,0.255395,Dairy,196.8794,OUT019

### Reading Excel and Spreadsheet

In [ ]:
data=pd.read_excel(
    r'C:\Users\Sumit007\Desktop\Chandan Sir work\Introduction to ML and DL series\Data\Reading Excel files\1998.xlsx')
data.head()

   Years    Product  Price
0   1998  Fast Food    200
1   1998      Sweet    150
2   1998  Fast Food    100
3   1998  Fast Food    250
4   1998  Fast Food    260

##### Dealing with files that has multiple sheet

In [ ]:
#### loading specific data from a specific sheet
data=pd.read_excel(
    r'C:\Users\Sumit007\Desktop\Chandan Sir work\Introduction to ML and DL series\Data\Reading Excel files\1998.xlsx'
    ,sheet_name='1997')
data.head()

   Years    Product  Price
0   1997  Fast Food    200
1   1997      Sweet    150
2   1997  Fast Food    100
3   1997  Fast Food    250
4   1997  Fast Food    260

In [ ]:
### you can also skiprow from the data
sheet_with_comments=pd.read_excel(
    r'C:\Users\Sumit007\Desktop\Chandan Sir work\Introduction to ML and DL series\Data\Reading Excel files\1998.xlsx'
    ,skiprows=10)
sheet_with_comments.head()

   1998  Fast Food  160
0  1998  Fast Food  140
1  1998      Sweet  180
2  1998  Fast Food  190
3  1998      Sweet  130
4  1998  Fast Food  123

In [ ]:
### Reading from the directory
## How to process multiple data into one file
import pandas as pd
import glob


# Get a list of CSV file names in a directory
file_list = glob.glob(
    'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading Excel files/Years/*.xlsx')
## iterate through each of the files
for file in file_list:
    print(file)

# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through the list of CSV files and concatenate them
for file in file_list:
    df = pd.read_excel(file)
    all_data = pd.concat([all_data, df], ignore_index=True)

# Display the combined DataFrame
print(all_data)
type(all_data)
all_data.head(20)

C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading Excel files/Years\1995.xlsx
C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading Excel files/Years\1996.xlsx
C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading Excel files/Years\1997.xlsx
C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading Excel files/Years\1998.xlsx
    Years    Product  Price
0    1995  Fast Food    200
1    1995      Sweet    150
2    1995  Fast Food    100
3    1995  Fast Food    250
4    1995  Fast Food    260
..    ...        ...    ...
75   1998      Sweet    210
76   1998      Sweet    250
77   1998  Fast Food    120
78   1998      Sweet    159
79   1998  Fast Food    160

[80 rows x 3 columns]

    Years    Product  Price
0    1995  Fast Food    200
1    1995      Sweet    150
2    1995  Fast Food    100
3    1995  Fast Food    250
4    1995  Fast Food    260
5    1995      Sweet    230
6    1995      Sweet    210
7    1995  Fast Food    120
8    1995      Sweet    150
9    1995  Fast Food    160
10   1995  Fast Food    140
11   1995      Sweet    180
12   1995  Fast Food    190
13   1995      Sweet    130
14   1995  Fast Food    123
15   1995      Sweet    210
16   1995      Sweet    250
17   1995  Fast Food    120
18   1995      Sweet    159
19   1995  Fast Food    160

In [ ]:
#### Storing merged excel data into csv formate
all_data.to_csv(
    'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading Excel files/merged_data.csv'
    ,index=False)

### Reading JSON files

In [ ]:
data=pd.read_json(r'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading JSON files/1.json')
data.head()

                                                       response
data_result   [{'icmr_id': '7KowBBfisgc+DHpYtjwdnA==', 'clin...
error_msg
message                                                 success
status                                                      200
total_result                                              10000

In [ ]:
#### REading a JSON file as it was written
# read json files with records
data_with_records = pd.read_json(
    'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading JSON files/simple_records.json'
    ,lines=True)
data_with_records.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [ ]:
# Can't read nested json in pandas
pd.read_json('C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading JSON files/nested.json')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [ ]:
# importing the json module of standard library
import json
# open and load the data in json file
with open(
    'C:/Users/Sumit007/Desktop/Chandan Sir work/Introduction to ML and DL series/Data/Reading JSON files/nested.json') as f :
    my_json_data = json.load(f)

print(my_json_data)

[{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}, {'student_roll_no': 102, 'details': {'name': 'Bhuvan', 'age': 18, 'grade': 'B'}}, {'student_roll_no': 103, 'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 104, 'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}}, {'student_roll_no': 105, 'details': {'name': 'Eisha', 'age': 13, 'grade': 'B'}}, {'student_roll_no': 106, 'details': {'name': 'Farhan', 'age': 22, 'grade': 'C'}}, {'student_roll_no': 107, 'details': {'name': 'Garima', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 108, 'details': {'name': 'Himanshu', 'age': 19, 'grade': 'A'}}, {'student_roll_no': 109, 'details': {'name': 'Ishaan', 'age': 10, 'grade': 'D'}}, {'student_roll_no': 110, 'details': {'name': 'Jason', 'age': 9, 'grade': 'B'}}]

In [ ]:
# use pprint or (pretty print) to print the data in the structured format
from pprint import pprint
pprint(my_json_data)

[{'details': {'age': 12, 'grade': 'A', 'name': 'Andew'},
  'student_roll_no': 101},
 {'details': {'age': 18, 'grade': 'B', 'name': 'Bhuvan'},
  'student_roll_no': 102},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Clinton'},
  'student_roll_no': 103},
 {'details': {'age': 12, 'grade': 'C', 'name': 'Drake'},
  'student_roll_no': 104},
 {'details': {'age': 13, 'grade': 'B', 'name': 'Eisha'},
  'student_roll_no': 105},
 {'details': {'age': 22, 'grade': 'C', 'name': 'Farhan'},
  'student_roll_no': 106},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Garima'},
  'student_roll_no': 107},
 {'details': {'age': 19, 'grade': 'A', 'name': 'Himanshu'},
  'student_roll_no': 108},
 {'details': {'age': 10, 'grade': 'D', 'name': 'Ishaan'},
  'student_roll_no': 109},
 {'details': {'age': 9, 'grade': 'B', 'name': 'Jason'}, 'student_roll_no': 110}]

### Reading txt file

In [ ]:
# Open the text file in read mode
with open(r'C:\Users\Sumit007\Desktop\Chandan Sir work\Introduction to ML and DL series\Data\Reading txt files\example.txt'
          , 'r') as file:
    # Read the contents of the file
    file_contents = file.read()

# Print the contents of the file
print(file_contents)

TXT test file
Purpose: Provide example of this file type
Document file type: TXT
Version: 1.0
Remark:

Example content:
Hello everyone, my name is Sumit Nayek, and I am thrilled to be here today. I hold a Master's degree in Statistics, where I delved deeply into the realms of data analysis and research methodologies. My passion for leveraging cutting-edge technologies led me to specialize in the application of Artificial Intelligence and Machine Learning in biomedical imaging during my research endeavors. I am enthusiastic about exploring the multifaceted role of a Data Scientist and Data Analyst, where I can apply my analytical skills and innovative thinking to derive actionable insights from complex datasets. I look forward to sharing my knowledge and contributing to our collective journey towards data-driven excellence.